.p1 {
    color: beige;
    text-align: center;
    font-size: 15pt;
}

.p2 {
    text-align: center;
    color: coral;
    font-style:italic;
    font-size: 20pt;
    font-weight: 600;
}

.p3 {
    color:darkmagenta;
    font-style: italic;
    font-size: 16pt;
    font-weight: 500;
}

.wrap {
    text-align: center;
}

.p4 {
    text-align: right;
    text-decoration: underline;
    font-style:italic;
    font-size: 15pt;
}