.t1 {
    width: 75%;
    background-color: aliceblue;
    border: 1pt solid brown;
    float: right;
}

.p1 {
    color: brown;
    font-size: 18pt;
}

.p2 {
    text-align: center;
    color: brown;
    font-size: 18pt;
}

.p3 {
    text-align: center;
    color:crimson;
    font-size: 20pt;
    font-style: italic;
    font-weight: 500;
}

.t2 {
    float:left;
    position:relative;
}
.t3 {
    width: 100%;
    background-color: aliceblue;
    border: 1pt solid brown;
}

.foto {
    text-align: center;
    position:fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.t4 {
    float:right;
    position:relative;
}    

.t5 {
    text-align: center;
     width: 50%;
    background-color: aliceblue;
    border: 1pt solid brown;
    margin-right: auto;
    margin-left: auto;
}

.t6 {
    text-align: center;
}

